<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <a href='http://127.0.0.1:5000/home' class="back-button">&#8592;</a>
    <div class="container">
        <h2>Resultados</h2>
        <canvas id="myPieChart" width="500" height="500"></canvas>
    </div>
    
    <script type="application/json" id="json-data">
        {{ json_data | tojson | safe }}
    </script>
    <script src="{{ url_for('static', filename='pizza_script.js') }}"></script>
    
</body>
</html>
