<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
    </style>
</head>
<body>
    <div class="button-container">
        <button onclick="window.location.href = 'http://127.0.0.1:5000/send_feedback';" >Enviar feedbacks</button>
        <button onclick="window.location.href = 'http://127.0.0.1:5000/display_feedbacks';" >Listar feedbacks</button>
        <button onclick="window.location.href = 'http://127.0.0.1:5000/display_statistics';" >Estatísticas</button>
    </div>
</body>
</html>