<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href='http://127.0.0.1:5000/home' class="back-button">&#8592;</a>
    <div class="form-container">
        <form method="POST">
            <textarea name="textarea" placeholder="Digite aqui..."></textarea>
            <button type="submit" >Enviar</button>
        </form>
    </div>
</body>
</html>
